// .text-danger{
//     color: red;
// }

// .table, th, td {
//     border:1px solid black;
//   }


// .table {
//     width: 50%;
//     margin: auto;
//   }
  
//   .form-control-sm {
//     width: 300px; /* Reduced width for input fields */
//   }
  
//   .contact-group {
//     margin-bottom: 15px;
  
//     label {
//       display: block;
//       margin-bottom: 5px;
//     }
  
//     .form-control {
//       margin-bottom: 5px;
//     }
  
//     .text-danger {
//       font-size: 0.8rem;
//     }
//   }
  

.table {
    width: 50%;
    margin: auto;
  }
  
  .form-control-sm {
    width: 300px; /* Reduced width for input fields */
  }
  
  .contact-group {
    margin-bottom: 15px;
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    .form-control {
      margin-bottom: 5px;
    }
  
    .text-danger {
      font-size: 0.8rem;
    }
  }
  
  